body{
    background-color: #85754e;
    color: #d8d3c0;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: #d3a673;
    color: #bb1e2d;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
    font-size: 20px;
    }

img{
    max-width: 80%;
}